# 依赖
node_modules/

# 构建产物
out/
dist/
release/

# 本地数据库与用户数据
*.db
*.db-journal

# 日志
*.log
npm-debug.log*

# 编辑器
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# 系统
.DS_Store
Thumbs.db

# 环境变量
.env
.env.local
.env.*.local
